<mat-toolbar>
    <button
        *ngIf="sidenav?.mode === 'over'"
        mat-icon-button
        (click)="sidenav.toggle()"
    >
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    Credito Application
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav mode="side">
        <button mat-button (click)="sidenavClose()" routerLink="consulta-credito">
            <mat-icon>sell</mat-icon>
            <span>Consulta de Credito</span>
        </button>
        <button mat-button (click)="sidenavClose()" routerLink="consulta-nfse">
            <mat-icon>description</mat-icon>
            <span>Consulta Nfse</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="mat-elevation-z8 paddind">
            <router-outlet/>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
